name: Auto Assign Reviewers

on:
  pull_request:
    types: [opened, reopened]

jobs:
  assign-reviewers:
    runs-on: ubuntu-latest
    steps:
      - name: Assign reviewers
        run: gh pr edit ${{ github.event.pull_request.number }} --add-reviewer Reasel
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}